In [7]:
import numpy as np
import pandas as pd
import math

## Working through the orange/blue balls split by information gain

Initial configuration of 20 balls (0=orange, 1=blue)

In [2]:
initial_balls = [0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1]

In [51]:
N = len(initial_balls)
def s(p):
    if p == 0 or p == 1:
        return 0
    return -p * math.log2(p) - (1 - p) * math.log2(1 - p)

S = s(sum(initial_balls) / initial_n)
print(f"Initial entropy: {S:.3}")

Initial entropy: 0.993

Consider splitting with first $j$ balls in first partition

In [52]:
def calc_split(j):
    p1 = sum(initial_balls[:(j + 1)]) / j
    S1 = s(p1)
    p2 = sum(initial_balls[(j + 1):]) / (N - j)
    S2 = s(p2)
    IG = S - (j / N) * S1 - ((N - j) / N) * S2
    return [S1, S2, IG]
calc_split(1)
j_range = range(1, N)
df_split = pd.DataFrame(data = [calc_split(j) for j in j_range], index = j_range, columns = ["S1", "S2", "IG"])
df_split

          S1        S2        IG
1   0.000000  0.981941  0.059931
2   0.000000  0.964079  0.125104
3   0.000000  0.936667  0.196607
4   0.000000  0.896038  0.275944
5   0.721928  0.918296  0.123571
6   0.918296  0.940286  0.059086
7   0.985228  0.961237  0.023141
8   1.000000  0.979869  0.004853
9   0.991076  0.945660  0.026677
10  0.970951  0.881291  0.066654
11  0.945660  0.764205  0.128769
12  0.918296  0.543564  0.224371
13  0.961237  0.591673  0.160885
14  0.985228  0.650022  0.108108
15  0.996792  0.721928  0.064699
16  1.000000  0.811278  0.030519
17  0.997503  0.918296  0.007153
18  0.991076  1.000000  0.000806
19  0.998001  0.000000  0.044674